<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<!-- Flatpickr -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		
		<title>飲食店詳細</title>
	</head>
	<body>
		<div class="samuraitabelog-wrapper">
			<!-- ヘッダー -->
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="container pt-5 pb-6 samuraitabelog-container">
					<div class="row justify-content-center">
						<div class="col-xxl-9 col-xl-10 col-lg-11 col-12">
							<div class="d-flex justify-content-between mb-4">
							
								<!-- パンくずリスト -->
								<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
									<ol class="breadcrumb mb-0">
										<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
										<li class="breadcrumb-item"><a th:href="@{/restaurants}">飲食店一覧</a></li>
										<li class="breadcrumb-item active" aria-current="page">飲食店詳細</li>
									</ol>
								</nav>
								
								<!-- お気に入り -->
								<div sec:authorize="isAuthenticated()">
                                    <div th:if="${isFavorite}">
                                        <a href="#" onclick="event.preventDefault(); document.getElementById('favorite-form').submit();">&#9829; お気に入り解除</a>
                                        <form method="post" th:action="@{/restaurants/__${restaurant.id}__/favorites/__${favorite.id}__/delete}" id="favorite-form" class="d-none"></form>                                        
                                    </div>
                                    <div th:unless="${isFavorite}">
                                        <a href="#" onclick="event.preventDefault(); document.getElementById('favorite-form').submit();">&#9825; お気に入り追加</a>
                                        <form method="post" th:action="@{/restaurants/__${restaurant.id}__/favorites/create}" id="favorite-form" class="d-none"></form>                                          
                                    </div>
                                </div>
								
							</div>
							
							<h1 class="mb-4 text-center" th:text="${restaurant.name}"></h1>
							
							<div th:if="${successMessage}" class="alert alert-info">
                                <span th:text="${successMessage}"></span>
                            </div> 
							
							<div th:if="${errorMessage}" class="alert alert-danger">
								<span th:text="${errorMessage}"></span>
							</div>
							
							<div class="mb-3">
								<img th:if="${restaurant.image}" th:src="@{/storage/__${restaurant.image}__}" class="w-100" alt="飲食店画像">
								<img th:unless="${restaurant.image}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">								
							</div>
							
							<div class="container">
								<div class="row">
									<div class="col-lg-8 container mb-4">									
										<div class="row pb-2 mb-3 border-bottom">
											<div class="col-4">
												<span class="fw-bold">飲食店名</span>
											</div>
											<div class="col">
												<span th:text="${restaurant.name}"></span>
											</div>
										</div>	
											
										<div class="row pb-2 mb-3 border-bottom">
											<div class="col-4">
												<span class="fw-bold">説明</span>
											</div>								
											<div class="col">
												<span class="samuraitabelog-pre-wrap" th:text="${restaurant.description}"></span>
											</div>
										</div>
										
										<div class="row pb-2 mb-3 border-bottom">
											<div class="col-4">
												<span class="fw-bold">価格帯</span>
											</div>								
											<div class="col">
												<span th:text="${restaurant.priceRange}"></span>
											</div>
										</div>
										
										<div class="row pb-2 mb-3 border-bottom">
											<div class="col-4">
												<span class="fw-bold">ランチの開店時間</span>
											</div>								
											<div class="col">
												<span th:text="${restaurant.lunchOpeningTime}?: ''"></span>
											</div>
										</div>
										
										<div class="row pb-2 mb-3 border-bottom">
											<div class="col-4">
												<span class="fw-bold">ランチの閉店時間</span>
											</div>								
											<div class="col">
												<span th:text="${restaurant.lunchClosingTime?: ''}"></span>
											</div>
										</div>
										
										<div class="row pb-2 mb-3 border-bottom">
											<div class="col-4">
												<span class="fw-bold">ディナーの開店時間</span>
											</div>								
											<div class="col">
												<span th:text="${restaurant.dinnerOpeningTime?: ''}"></span>
											</div>
										</div>
										
										<div class="row pb-2 mb-3 border-bottom">
											<div class="col-4">
												<span class="fw-bold">ディナーの閉店時間</span>
											</div>								
											<div class="col">
												<span th:text="${restaurant.dinnerClosingTime?: ''}"></span>
											</div>
										</div>
										
										<div class="row pb-2 mb-3 border-bottom">
											<div class="col-4">
												<span class="fw-bold">郵便番号</span>
											</div>								
											<div class="col">
												<span th:text="${restaurant.postalCode}"></span>
											</div>
										</div>
										
										<div class="row pb-2 mb-3 border-bottom">
											<div class="col-4">
												<span class="fw-bold">住所</span>
											</div>								
											<div class="col">
												<span th:text="${restaurant.address}"></span>
											</div>
										</div>
										
										<div class="row pb-2 mb-3 border-bottom">
											<div class="col-4">
												<span class="fw-bold">電話番号</span>
											</div>								
											<div class="col">
												<span th:text="${restaurant.phoneNumber}"></span>
											</div>
										</div>
										
										<div class="row pb-2 mb-3 border-bottom">
											<div class="col-4">
												<span class="fw-bold">定休日</span>
											</div>								
											<div class="col">
												<span th:text="${restaurant.closeDays}"></span>
											</div>
										</div>	
										
										<!-- categoryはリストだからループさせて表示 -->
										<div class="row pb-2 mb-3 border-bottom">					
											<div class="col-4">
												<span class="fw-bold">カテゴリー</span>
											</div>								
											<div class="col">
												<ul class="mb-0 category-list">
													<li th:each="category : ${categories}" th:text="${category.name}"></li>
												</ul>
											</div>
										</div>
																	
									</div>
									
									<!-- 未ログイン時の表示 -->
									<div sec:authorize="isAnonymous()" class="col-lg-4 px-0 ps-lg-4 mb-4">
										<div class="card">
											<div class="card-body">
												<p class="card-text">予約するには<a th:href="@{/login}">ログイン</a>が必要です。</p>
												<button type="submit" class="btn text-white shadow-sm w-100 samuraitabelog-btn" disabled>予約する</button>                                                                                                                
		                                    </div>
		                                </div>  
		                            </div>
		                            
		                            <!-- ログイン後、予約カレンダーの表示 -->
		                            <div sec:authorize="isAuthenticated()" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
                                        <div class="card">
                                            <div class="card-body"> 
                                                <form method="get" th:action="@{/restaurants/__${restaurant.id}__/reservations/input}" th:object="${reservationInputForm}">                                                                                                                                                                       
                                                    <div class="form-group mb-2">                                            
                                                        <label for="reservationDateTime" class="col-form-label text-md-left fw-bold">来店日時</label>    
                                                        <div th:if="${#fields.hasErrors('reservationDateTime')}" class="text-danger small mb-2" th:errors="*{reservationDateTime}"></div>                                          
                                                        <input type="datetime-local" class="form-control" th:field="*{reservationDateTime}">                                                                     
                                                    </div>
                                                    
                                                    <div class="form-group mb-4">                                            
                                                        <label for="guestCount" class="col-form-label text-md-left fw-bold">人数</label>  
                                                        <div th:if="${#fields.hasErrors('guestCount')}" class="text-danger small mb-2" th:errors="*{guestCount}"></div>                                            
                                                        <input type="number" class="form-control" th:field="*{guestCount}" min="1">                                                                     
                                                    </div>
                                                                                                        
                                                    <div class="form-group">
                                                        <button type="submit" class="btn text-white shadow-sm w-100 samuraitabelog-btn">予約する</button>
                                                    </div>
                                                </form>                                                                     
                                            </div>
                                        </div>  
                                    </div>  
								</div>
							</div>
							
							<!-- レビューセクション -->
							<div class="container px-0">
                                <h2 class="mb-4 text-center">レビュー</h2>
                                <div sec:authorize="isAuthenticated()" th:unless="${hasUserAlreadyReviewed}" class="row justify-content-center mb-4">
                                    <div class="col-lg-4">
                                        <a th:href="@{/restaurants/__${restaurant.id}__/reviews/register}" class="btn text-white shadow-sm w-100 samuraitabelog-btn">レビューを投稿する</a>
                                    </div>
                                </div>
                                <div th:if="${#lists.isEmpty(newReviews)}" class="mb-4">                                    
                                    <p class="text-center">まだレビューがありません。</p>                                    
                                </div>                                                                 
                                <div th:unless="${#lists.isEmpty(newReviews)}" class="row row-cols-1 row-cols-md-2 g-4 mb-4">
                                    <div th:each="review : ${newReviews}">
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between">
                                                        <h5 class="card-title" th:text="${review.user.name}"></h5>
                                                        <span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.id == review.user.id}">
                                                            <a th:href="@{/restaurants/__${restaurant.id}__/reviews/__${review.id}__/edit}" class="me-2">編集</a>
                                                            <a href="#" class="samuraitabelog-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteReviewModal' + review.id}">削除</a>
                                                            <!-- 削除用モーダル -->
                                                            <div class="modal fade" th:id="${'deleteReviewModal' + review.id}" tabindex="-1" th:aria-labelledby="${'deleteReviewModalLabel' + review.id}">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" th:id="${'deleteReviewModalLabel' + review.id}" th:text="${restaurant.name+ 'のレビューを削除してもよろしいですか？'}"></h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <form method="post"th:action="@{/restaurants/__${restaurant.id}__/reviews/__${review.id}__/delete}">
                                                                                <button type="submit" class="btn samuraitabelog-btn-danger text-white shadow-sm">削除</button>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>                                                                                                            
                                                        </span>      
                                                    </div>                                              
                                                    <p class="card-text mb-1">
                                                        <span class="samuraitabelog-star" th:each="star : ${#numbers.sequence(1, 5)}" th:text="${star <= review.score} ? '&#9733;' : '&#9734;'"></span>
                                                    </p>                      
                                                    <p class="card-text"><small class="text-muted" th:text="${#dates.format(review.createdAt, 'yyyy年MM月dd日')}"></small></p>                              
                                                    <p class="card-text" th:text="${review.content}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                     
                                </div>    
                                <div class="text-center mb-4" th:if="${totalReviewCount > 6}">
                                    <a th:href="@{/restaurants/__${restaurant.id}__/reviews}">すべてのレビューを見る</a>
                                </div>                                                            
                            </div> 
							
						</div>
					</div>
				</div>
			</main>
			
			<!-- フッター -->
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		
		<!-- Bootstrap -->
		<div th:replace="~{fragment :: scripts}"></div>
		
		 <!-- Flatpickr -->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
        <script th:src="@{/js/flatpickr.js}"></script>
		
	</body>
</html>