<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>パスワード再設定</title>
	</head>
	<body>
		<div class="samuraitabelog-wrapper">
			<!-- ヘッダー -->
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="container pt-5 pb-6 samuraitabelog-container">
					<div class="row justify-content-center">
						<div class="col-xl-3 col-lg-4 col-md-5 col-sm-7">
							
							<h1 class="mb-4 text-center">パスワード再設定</h1>
							
							<!-- Success Message -->
							<div th:if="${successMessage}" class="alert alert-info">
								<span th:text="${successMessage}"></span>
							</div>
							
							<!-- Error Message -->
							<div th:if="${errorMessage}" class="alert alert-danger">
								<span th:text="${errorMessage}"></span>
							</div>
							
							<form th:action="@{/password/password_reset_request}" method="post" th:object="${passwordRequestForm}">

								<!-- パスワード入力欄 -->
								<div class="form-group mb-3">							
									<div class = "col-md-12">
										<p class="fs-6 mb-2">ご登録してあるメールアドレスをご入力してください。<br>
    										パスワード再設定用のリンクを送信します。</p>
										<label for="email" class="col-form-label fw-bold">登録済のメールアドレス</label>
										<div th:if="${#fields.hasErrors('email')}" class="text-danger small mb-2" th:errors="*{email}"></div>
										<input type="email" class="form-control" th:field="*{email}" autocomplete="email" placeholder="メールアドレスを入力">
									</div>
								</div>
								
								<div class = "form-group mb-3 text-center">
									<button type="submit" class="btn text-white shadow-sm w-50 samuraitabelog-btn">送信</button>
								</div>																									
							</form>
						</div>
					</div>
				</div>
			</main>
			
			<!-- フッター -->
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>