<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>パスワード再設定</title>
	</head>
	<body>
		<div class="samuraitabelog-wrapper">
			<!-- ヘッダー -->
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="container pt-5 pb-6 samuraitabelog-container">
					<div class="row justify-content-center">
						<div class="col-xl-3 col-lg-4 col-md-5 col-sm-7">
							
							<h1 class="mb-4 text-center">パスワード再設定</h1>
							
							<!-- Success Message -->
							<div th:if="${successMessage}" class="alert alert-info">
    							<span th:text="${successMessage}"></span>
							</div>
							
							<!-- Error Message -->
							<div th:if="${errorMessage}" class="alert alert-danger">
								<span th:text="${errorMessage}"></span>
							</div>
							
							<form th:action="@{/password/password_reset}" method="post" th:object="${passwordEditForm}">
								<!--メールで送られたこのトークンを持っている-->
								<input type="hidden" name="token" th:value="${passwordEditForm.token}" />
								<!-- パスワード入力欄 -->
								<div class="form-group mb-3">							
									<div class = "col-md-12">
										<label for="password" class="col-form-label fw-bold">新しいパスワード</label>
										<div th:if="${#fields.hasErrors('password')}" class="text-danger small mb-2" th:errors="*{password}"></div>
										<input type="password" class="form-control" th:field="*{password}" autocomplete="new-password">
									</div>
								</div>
								
								<!-- パスワード確認欄 -->
								<div class="form-group row mb-3">
                        			<div class="col-md-12">
                            			<label for="passwordConfirm" class="col-form-label fw-bold">新しいパスワード（確認）</label>
                            			<div th:if="${#fields.hasErrors('passwordConfirm')}" class="text-danger small mb-2" th:errors="*{passwordConfirm}"></div>
                            			<input type="password" class="form-control" th:field="*{passwordConfirm}" autocomplete="new-password">
                        			</div>
                    			</div>
								
								<div class = "form-group mb-3 text-center">
									<button type="submit" class="btn text-white shadow-sm w-50 samuraitabelog-btn">変更</button>
								</div>																									
							</form>
						</div>
					</div>
				</div>
			</main>
			
			<!-- フッター -->
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>