html {
	font-size: 14px;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
}

h1 {
	font-size: 1.5rem;
}

h2 {
  font-size: 1.475rem;
}

h3 {
  font-size: 1.25rem;
}

a {
	color: #e69045;
}

a.detail-link{
	color: #0000EE;
}

a.delete-link{
	color: #d93e38;
}

a:hover {
	text-decoration: underline;
}

a.delete-link:hover {
	text-decoration: underline;
}

footer {
	width: 100%;
	height: 60px;
	 position: absolute;
	 bottom: 0;
	 background-color: #fce7d7;
}

.samuraitabelog-wrapper {
	min-height: 100vh;
	position: relative;
	padding-bottom: 80px;
	box-sizing: border-box;
}

.samuraitabelog-navber {
	display: flex;
	height: 70px;
	padding: 10px 20px;
	align-items: center;
}

@media (max-width: 767px) {
	.samuraitabelog-navber {
		height: 50px;
		align-items: center;
	}
}

.samuraitabelog-logo {
	height: 40px;
	width:auto;
	margin: 0;
	padding: 0;
}

@media (max-width: 767px) {
	.samuraitabelog-logo {
		height: 30px;
		width: auto;
		margin: 0;
		padding: 0;
	}
}

.samuraitabelog-btn{
	background-color: #f77736 !important;
	transition: 0.1s;
}

.samuraitabelog-btn:hover{
	background-color: #b5592a;
}

.samuraitabelog-page-link{
	color: #f77736;
}

.samuraitabelog-page-link:hover {
	color:#d6672f;
}

.samuraitabelog-active {
	background-color: #f77736 !important;
	border-color: #f77736 !important;
}

.samuraitabelog-pre-wrap {
	white-space: pre-wrap;
}

.samuraitabelog-link-danger{
	color: #f2594b;
}

.samuraitabelog-link-danger:hover{
	color: #a63c3c;
}

.samuraitabelog-btn-danger:hover {
	opacity: 0.8;
}

.samuraitabelog-btn-danger {
	background-color: #f2594b !important;
	transition: 0.1s;
}

.samuraitabelog-dropdown-item:active {
  background-color: #e69045;
}

.samuraitabelog-card-link {
  transition: 0.3s;
}

.samuraitabelog-card-link:hover {
  opacity: 0.7;
}

.samuraitabelog-horizontal-card-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

/*トップページ*/
.samuraitabelog-vertical-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.samuraitabelog-search-form {
    max-width: 300px;
}

/*星評価*/
.samuraitabelog-star {
	color: #ffa500;
}

.samuraitabelog-star:focus {
	color: #ffa500;
}

.category-btn {
	 background-color: white;
	 border: 1px solid #f77736;
	transition: 0.1s;
}

@media screen and (min-width: 1400px) {
	.samuraitabelog-container {
		max-width: 1200px;
	}
}